.container {
    border: 2px solid grey;
    padding: 10px;
    margin: 5px auto;
    display: block;
    background-color: rgb(105, 105, 105, 0.3);
}

.head {
    
    display: flex;
    font-style: italic;
    justify-content: center;
    font-family: 'Edu AU VIC WA NT Hand' ;
    font-size: 30px;
    background-color: rgb(95, 158, 160);
    position: sticky;
    top: 0; /* Stick to the top */
    z-index: 1000; /* Ensure it stays above other content */
}


.title {
    display: block;
    align-content: center;
    text-align: center;
    font-size: medium;
    font-family: 'Edu AU VIC WA NT Hand';
}

.text-panel1, .text-panel2, .text-panel3 {
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    
}

.color-container {
    display: flex;
    flex-direction: row;
    flex-basis: content;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: space-between;
    align-items: center;
    
}

.deep-sky-blue {
    background-color: rgb(0, 191, 255);
    
}

.orange {
    background-color: rgb(255, 165, 0);
    
}

.dark-green {
    background-color: rgb(0, 100, 0);
}

.yellow {
    background-color: rgb(255, 255, 0);
}

.teal {
    background-color: rgb(0, 128, 128);
}

.color-panel {
    border: 10px solid color;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    flex-grow: 1;
    flex-shrink: 1;
    margin: 25px;
    
    
    
}

.color-panel p {
    font-family: monospace, sans-serif;
    font-size: medium;
    margin: 10px;
    padding: 7px;
    display: flex;
    justify-content: center;
    color: rgb(0, 0, 0, 0.78);    
    
}

.font-container {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
}

.font-label-roboto {
    font-family: 'Roboto Mono', sans-serif;
    font-size: 26px;
    text-decoration: underline;
}

.regular-roboto {
    font-family: 'Roboto MonoM';
    font-size: 14px;
     
}

.bold-roboto {
    font-family: 'Roboto Mono';
    font-weight: 700;
    font-size: 14px;
}

.italics-roboto {
    font-family: 'Roboto Mono';
    font-style: italic;
    font-size: 14px;
}

.font-label-edu {
    font-family: Edu AU VIC WA NT Hand;
    font-size: 26px;
    text-decoration: underline;
}

.regular-edu {
    font-family: Edu AU VIC WA NT Hand;
    font-size: 14px;
}

.bold-edu {
    font-family: Edu AU VIC WA NT Hand;
    font-weight: 700;
    font-size: 14px;
}

.italics-edu {
    font-family: Edu AU VIC WA NT Hand;
    font-style: italic;
    font-size: 14px;
}

.footer {
    font-family: 'Edu AU VIC WA NT Hand';
    font-weight: 500;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    background-color: rgba(95, 158, 160, 0.45);
}

.foot-text {
    display: flex;
    justify-content: center;
}

